html
	head
		block head
			meta(charset='UTF-8')
			title= title
			meta(name='description', content=description)
			meta(name='viewport', content='width=device-width, user-scalable=yes')
			link(rel='author', href='humans.txt')
	body
		block body
			main.main
				block main
			nav.navbar.navbar-full.navbar-fixed-top.navbar-light.bg-white
				.container
					a(href="/").navbar-brand
						img(src="/logo-black-white.svg" width="32" height="32")
					ul.nav.navbar-nav
						li.nav-item
							a(href="/").nav-link stop masseovervågning
			footer.navbar.navbar-full.navbar-light.bg-white
				.container
					.row
						.col-sm-6.pull-md-left.text-sm-left.text-xs-center.padding-sm-vertical 
							span &copy; 2016 Stop Masseovervågning
						.col-sm-6.pull-md-right.text-sm-right.text-xs-center.padding-sm-vertical
							nav.nav.nav-inline
								a(href="https://www.facebook.com/groups/171851826519928/",title="Facebook").nav-link
									span.icon-facebook
								a(href="https://twitter.com/stmaov",title="Twitter").nav-link
									span.icon-twitter
								a(href="https://github.com/jonatanpedersen/stopovervaagningnu",title="GitHub").nav-link
									span.icon-github
			script(src="/lib/jquery.min.js")
