extend _base

block append head
	link(href="underskriftindsamling.css",rel="stylesheet")

block main
	.section
		.container
			h1 Underskrift&shy;indsamling
			p.lead Hjælp med at få politikerne på bedre tanker ved at tilkendegive dit ønske om at bevare retten til privatliv på internettet.
			.row
				.col-sm-6
					.card.card-block
						form#formular
							p.form-group
								label(for="fornavn") Fornavn
								input(id="fornavn",type="text",required).form-control
							p.form-group
								label(for="efternavn") Efternavn
								input(id="efternavn",type="text",required).form-control
							p.form-group
								label(for="email") Email
								input(id="email",type="email",required).form-control
							p
								small Bare rolig! Vi offentligører aldrig dine personlige oplysninger, herunder dit navn og din email, uden din udtrykkelige accept.
							p.form-group
								button(type="submit").btn.btn-lg.btn-primary Underskriv
						#arbejder.hidden.text-xs-center 
							h2 Arbejder...
							p Vi arbejder på at registrere din underskrift.
						#fejl.hidden.text-xs-center 
							h2 Øv!
							p Der skete desværre en fejl:
							p#fejl-besked
							p
								button#proev-igen.btn.btn-primary Ret fejlen, og prøv igen
						#tak.hidden.text-xs-center 
							h2 Tak!
							p Vi har registreret din underskrift, og takker for din hjælp i kampen mod unødvendig masseovervågning.
							p
								a(href="/").btn.btn-primary Vent tilbage til forsiden
block append body
	script(src="/underskriftindsamling.js")
