extend _base

block append head
	link(href="politikere.css",rel="stylesheet")

block main
	.section
		.container
			h1 Politikere
			p.lead Alfabetisk liste over alle 179 politkere i folketinget.
			.row
				each politician in politicians
					.col-xs-6.col-md-4.col-lg-3
						a(href="/politikere/" + politician.id).card
							img(src="/img/" + politician.id + ".jpg").card-img-top.img-fluid
							.card-block
								p.card-text
									span.hidden-lg-down= politician.fullName
									span.hidden-xl-up= politician.shortName
