html
	head
		block head
			meta(charset='UTF-8')
			title= title
			meta(name='description', content=description)
			meta(name='viewport', content='width=device-width, user-scalable=yes')
			link(rel='author', href='humans.txt')
	body
		block body
			main.main
				block main
			nav.navbar.navbar-full.navbar-fixed-top.navbar-light.bg-white
				.container
					a(href="/").navbar-brand
						img(src="/logo-black-white.svg" width="32" height="32")
					ul.nav.navbar-nav
						li.nav-item
							a(href="/").nav-link stop masseovervågning
			footer.navbar.navbar-full.navbar-light.bg-white
				.container
					p &copy; 2016 Stop Masseovervågning
