html
	head
		meta(charset='UTF-8')
		title= title
		meta(name='description', content=description)
		meta(name='viewport', content='width=device-width, user-scalable=yes')
		link(rel='author', href='humans.txt')
		block head
	body
		main.main
			block main
				!=yield
		nav.nav
			.container
				a(href="/") 
					i(class="icon icon-ban")
					span  stop masseovervågning
				a(href="/fakta") 
					i(class="icon icon-check")
					span  Fakta					
				a(href="/slutbruger") 
					i(class="icon icon-user")
					span  Slutbruger
				a(href="/tjenesteudbyder") 
					i(class="icon icon-building-o")
					span  Tjenesteudbyder
		footer.footer
			.container
				hr
				p.copyright &copy; 2016 Stop Masseovervågning
