@import "icons";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial;
}
.main {
  margin: 3rem 0;
  font-size: 1.25rem;
  h1, h2, p {
    margin: 2rem 0;
  }
  ul, ol {
    margin: 2rem;
  }
  a {
    color: #d00;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1rem;
  background-color: #fff;
  a {
    display: inline-block;
    padding: 1rem 1rem;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    :hover {
      background-color: 000;
      color: #fff;
    }
  }
}
.jumbotron {
  padding: 2rem 0;
  background-color: #000;
  font-size: 1.5rem;
  color: #fff;
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}
.section {
  margin: 2rem 0;
}
.footer {
  margin: 1rem 0;
  hr {
    border-width: 0;
    margin: 1rem 0;
    height: 1px;
    background-color: #000;
  }
  .copyright {
  }
}
