* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial;
}
.main {
  margin: 2rem 0;
  p {
    margin: 2rem 0;
  }
}
.container {
  width: 980px;
  margin: 0 auto;
}
.footer {
  margin: 2rem 0;
  .copyright {
  }
}
