block head
	link(href="fakta.css",rel="stylesheet")
block main
	.jumbotron
		.container
			h1
				i(class="icon icon-check") 
				= title
			p= description
	.section
		.container
			h2 Sessionslogning
			p Sessionslogning består i at alle internetudbydere, med undtagelse af enkelte mindre udbydere, får til opgave at, på statens vegne, opsamle og gemme information om alle forbindelser på deres netværk. Det drejer sig ikke om indholdet af den enkelte kommunikation, men om det der populært kaldes META data.
			ul
				li Afsender IP-adresse
				li Modtager IP-adresse
				li Starttidspunkt
				li Sluttidspunk
				li Protokol
				li Datamængde (bytes)
			p Teleselskaber opsamler allerede META data om alle opkald på deres netværk. Sessionslogning er en udviddelse af denne type af logning.
			h2 Hvad er de tekniske udfordringer forbundet med sessionslogning
			p De tekniske udfordringer kan deles op i to konkrete problemer.
			ol
				li Volumen af den indsamlede information, altså hvor meget fylder data'en
				li Præcisionen af den indsamlede data, altså kan man stole på data'en i forbindelse med en udforskning
			h3 Volumen
			p Den totale volumen af den indsamlede data er afhængig af hvad der indsamles, hvor meget trafik der er på netværket, og hvor lang tid informationen skal være tilgængelig for myndighederne.
			h4 Præcisionen
			p Præcisionen er afhængig af hvad der indsamles og har derfor direkte indflydelse på volumen.
