extend _base

block append head
	link(href="index.css",rel="stylesheet")

block main
	.jumbotron
		.container
			h1
				span.ban
					i(class="icon icon-ban")
				span= title
			p Regeringen ønsker at indføre masseovervågning af internettet i terrorbekæmpelsens navn. Masseovervågning går i mod vores basale retsprincipper og vil af tekniske årsager aldrig have den ønskede virkning. Den øgede overvågning vil til gengæld koste internetudbydere og forbrugere mange 100 millioner kr.
			p.strong Hjælp med at stoppe regeringen nu!
			p
				a(href="https://github.com/jonatanpedersen/stopovervaagningnu",class="btn")
					i(class="icon icon-github")
					| Bidrag med din ekspertise her
	.section
		.container
			h2 Artikler
			p Se hvad pressen skriver om sagen nedenfor:
			each article in articles
				article.article
					header
						a(href=article.link)
							strong.title= article.title
block append body
	script(src="js/jquery-2.2.0.min.js")
	script(src="index.js")
