block head
	link(href="index.css",rel="stylesheet")
block main
	.container
		.jumbotron
			h1 Stop Overvågning Nu!
			p Vær med til at stoppe regeringens forsøg på at indføre masseovervågning af borgernes færden på internettet.
			p
				a(href="https://github.com/jonatanpedersen/stopovervaagningnu",class="contribute-button") Bidrag med indhold til siden
