block head
	link(href="index.css",rel="stylesheet")
block main
	.jumbotron
		.container
			h1 Stop Overvågning Nu!
			p Vær med til at stoppe regeringens forsøg på at indføre masseovervågning af borgernes færden på internettet.
			p
				a(href="https://github.com/jonatanpedersen/stopovervaagningnu",class="btn") Bidrag med indhold til siden
	.section
		.container
			h2 Nyheder
