@import "layout";

.jumbotron {
  font-size: 2rem;
  text-align: center;
  .ban {
    font-size: 32rem;
    display: block;
  }

  .strong {
    font-weight: bold;
  }
}

.article {
  margin: 2rem 0;
}
