@import "layout";

.jumbotron {
  font-size: 2rem;
  text-align: center;
  .contribute-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #000;
    text-decoration: none;
    color: #fff;
  }
}
