extend _base

block append head
	link(href="slutbruger.css",rel="stylesheet")
	
block main
	.jumbotron
		.container
			h1
				i(class="icon icon-user")
				= title
			p= description
	.section
		.container
			p Som slutbruger kan du tage nogle enkle forholdsregler for at beskytte dit privatliv.
			ul
				li undgå at benytte tjenester der ikke er udbudt over en krypteret forbindelse (ssl/https)
				li gem dig bag en VPN forbindelse eller TOR netværket.
				li Kryptér din private email kommunikation
