extend _base

block append head
	link(href="tjenesteudbyder.css",rel="stylesheet")
	
block main
	.jumbotron
		.container
			h1
				i(class="icon icon-building-o")
				= title
			p= description
	.section
		.container
			p Som tjenesteudbyder kan du nemt beskytte dine slutbrugeres privatliv.
			ul
				li udbyd kun din tjeneste over en krypteret forbindelse (ssl/https)
				li gem din tjeneste IP bag en proxy eller CDN
